<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">ExpenseManagementApi</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
      <ul *ngIf='isUserAuthenticated && isAdmin' class="navbar-nav flex-grow">
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-white" [routerLink]="['/category/create']"
            >Create Category</a
          >
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-white" [routerLink]="['/category/list']"
            >Category List</a
          >
        </li>
      </ul>

        <ul *ngIf='isUserAuthenticated && isCustomer' class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-white" [routerLink]="['/']">Home</a>
          </li>
          <!-- <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/counter']"
              >Counter</a
            >
          </li> -->
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/expense/create']"
              >Create Expense</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/expense/list']"
              >Expense List</a
            >
          </li>
        </ul>

        <ul *ngIf='!isUserAuthenticated' class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/authentication/login']"
              >Login</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/authentication/registration']"
              >Register</a
            >
          </li>
        </ul>

        <ul *ngIf='isUserAuthenticated' class="navbar-nav flex-grow">
          <li class="nav-item">
            <button class="btn btn-dark" (click)="logout()">Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>