<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Category</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of expenseList">
            <th>{{item.itemName}}</th>
            <th> {{item.amount}}</th>
            <th> {{item.categoryName}}</th> 
            <th><a routerLink="/expense/update/{{item.id}}">
                <button class="btn btn-warning">Update</button>
             </a></th>
            <th><button (click)="deleteExpense(item.id)" class="btn btn-danger">Delete</button></th>
        </tr>
    </tbody>
</table>